.env
docker-compose.yaml.WORK*
bk/
authelia/

content/momai.dev/private/*
!content/momai.dev/private/.gitkeep

content/voice.momai.dev/*
!content/voice.momai.dev/.gitkeep

content/test-content/*
!content/test-content/.gitkeep


#content/momai.dev/private/*
#content/voice.momai.dev/
#content/test-content
